
canvas{
  display:block;
}

#three-body{
  width: 100%;
  height: 90%;
  margin: 0 auto;
  /* z-index: 1; */
}

@font-face {
  font-family: 'Hellplague';
  src: url('../media/fonts/hellplague.otf') format('otf');
  
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Medium';
  src: url('../media/fonts/Medium copy.otf') format('otf');
  
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Tiltortion';
  src: url('../media/fonts/Tiltortion.otf') format('otf');
  
  font-weight: normal;
  font-style: normal;

}

style {
  object-fit: cover;
  object-fit: contain;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* 
.flex-container3{
  display: flex;
  flex-direction: row;
  height: 5vh;
  width: 100vw;
  font-family: "Raleway", sans-serif;
  border-radius: 10px 10px 10px 10px;
} */



.parent-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  flex-direction: row;
 
  
}

.flex-container3{
  display: flex;
  flex-direction: column;
  width: 5%;
  height: 8vh;
  align-items: center;
/* justify-content: space-around; */
/* font-family: 'quicksand', sans-serif; */
font-family:"source code pro", san-serif;
z-index: 1;
font-size: 20px;
margin-top: 100px;
background-color: yellow;
position: absolute;
margin-left: 100px;


  
}


a{
  text-decoration: none;
  color: black;

}

a:hover{
font-size: 20px;
box-shadow: 5px 5px 5px #f87fde
}




.flex-container{
  display: flex;
  justify-content: center;

  height:auto;
  width:90%;
  margin-top: auto;
  position: absolute;
  margin-left: 100px;
  margin-right: 500px;
  
 

 

}


#hello{
  position: absolute;
  /* color: #CC0066; */
  font-family: "tiltortion", san-serif;
  font-size: 100px;
  justify-content: center;
 margin-top: 60px;
  z-index: -1;

  

}




@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


@keyframes blink {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes slidein {
  0% { left: -150%; }
  50% { left: 50%; }
  100% { left: 150%; }
}


@keyframes slidein2 {
  0% { left: 150%; }
  50% { left: 50%; }
  100% { left: -150%; }

}






h2{
  /* color: #CC0066; */
  font-family: "tiltortion", san-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  position: absolute;
  margin-top:25px;
  z-index: 1;
  font-weight: 300;

  


}

h3{
  color: black;
  /* font-family: "quicksand", san-serif; */
  font-weight: 100;
  font-size: 18px;
  display: flex;
  font-family:"source code pro", san-serif;
  margin-right: 150px;
  margin-left: 180px;
  position: absolute;
  margin-top: 160px;
  background-color: yellow;
}

h7{
  color: black;
  /* font-family: "quicksand", san-serif; */
  font-family:"source code pro", san-serif;
  font-weight: 100;
  font-size: 18px;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 250px;
  position: absolute;
  margin-top: 520px;
  background-color: yellow;
}


h4{
  color: black;
  /* font-family: "Quicksand", san-serif; */
  font-family:"source code pro", san-serif;
  font-weight: 300;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 1000px;
  position: absolute;
  margin-top: 160px;
  animation: scroll 15s linear infinite;
}

@keyframes scroll {
  from {
      transform: translateY(100%);
  }
  to {
      transform: translateY(-100%);
  }
}



h5{
  color: black;
  /* font-family: "Quicksand", san-serif; */
  font-family:"source code pro", san-serif;
  font-weight: 300;
  font-size: 14px;
  display: flex;
  justify-content: center;
  margin-right: 10px;
 margin-left: 750px;
  position: absolute;
  margin-top: 620px;
  background-color: yellow;

}

h6{
  color: black;
  /* font-family: "Quicksand", san-serif; */
  font-weight: 300;
  font-size: 12px;
  font-family:"source code pro", san-serif;
  margin-right: 850px;
  position: absolute;
  margin-top: 650px;

}


.border {
  border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1;
  border-radius: 100px; /* this doesn't work */
  border-width: 16px;
  border-style: solid;
  padding: 700px;
}



#archive1 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 500px;
  margin-right: 100px;
  animation: fadeIn 2s infinite;
  z-index: -1;
}

#archive2 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 250px;
  margin-right: 200px;
  animation: fadeIn 2.5s infinite;
  z-index: -1;
}


#archive3 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 600px;
  margin-left: 300px;
  margin-right: 10px;
  animation: fadeIn 1.75s infinite;
  z-index: -1;
}

#archive4 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 400px;
  margin-left: 500px;
  margin-right: 10px;
  animation: fadeIn 3.25s infinite;
  z-index: -1;
}

#archive5 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
  margin-right: 600px;
  animation: fadeIn 1.8s infinite;
  z-index: -1;
}

#archive6 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 400px;
  margin-left: 100px;
  margin-right: 800px;
  animation: fadeIn 2.6s infinite;
  z-index: -1;
}

#archive7 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 480px;
  margin-left: 100px;
  margin-right: 1200px;
  animation: fadeIn 3.2s infinite;
  z-index: -1;
}


#archive8 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 1050px;
  animation: fadeIn 2.9s infinite;
  z-index: -1;
}

#archive9 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 50px;
  margin-left: 100px;
  margin-left: 1050px;
  animation: fadeIn 2.7s infinite;
  z-index: -1;
}

#archive10 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 500px;
  margin-left: 100px;
  margin-left: 1050px;
  animation: fadeIn 2.6s infinite;
  z-index: -1;
}

#archive11 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 300px;
  margin-left: 100px;
  margin-left: 900px;
  animation: fadeIn 1.89s infinite;
  z-index: -1;
}

#archive12 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 300px;
  margin-left: 100px;
  margin-left: 200px;
 animation: fadeIn 3.3s infinite;
  z-index: -1;
}

#archive13 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 200px;
  margin-left: 100px;
  margin-left: 1100px;
  animation: fadeIn 2.34s infinite;
  z-index: -1;
}

#archive14 {
  width: 10vw;
  height: 10vh;
  position: absolute;
  margin-top: 250px;
  margin-right: 900px;
  animation: fadeIn 1.75s infinite;
  z-index: -1;
}

#icons{
  box-shadow: 5px 5px 5px  #f87fde;
}



/*Media Queries*/
/* Mobile Styles (Up to 768px width) */
@media (max-width: 768px) {
  #three-body {
    display: none;
  }

  .parent-container {
    flex-direction: column; /* Stack items vertically */
    padding: 10px;
}

.flex-container, .flex-container2, .flex-container3 {
    width: 100%; /* Adjust width for smaller screens */
    height: auto;
    padding: 10px;
}


  #hello {
    font-size: 40px;
    margin-top: 50px;
    text-align: center;
    z-index: 1;
  }

  h2, h3, h5, h7 {
    font-size: 20px;
    margin: 20px auto;
    position: static;
    text-align: center;
    background-color: transparent;
  }

  h4, h6 {
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
    animation: none;
  }

  [id^="archive"] {
    width: 20vw;
    height: 10vh;
    margin: 20px auto;
    position: relative;
    animation: fadeIn 2s ease-in-out infinite;
  }

  .border {
    padding: 30px;
    border-width: 8px;
  }

  #icons {
    margin: 20px auto;
    box-shadow: none;

  }

  a:hover {
    font-size: 18px;
    box-shadow: none;
  }
}
